In [ ]:
Create a ndarray with the data of the
precipitation in a week:
12mm 14mm 7mm 0mm 3mm 21mm 10mm
store this array in a precipitation_data variable and
print a sorted list.

In [9]:
import numpy as npy
precipitation_data = npy.array([12,14,7,0,3,21,10])
precipitation_data.sort()
print(precipitation_data)

[ 0  3  7 10 12 14 21]

In [ ]:
Create a Pandas Series with the above data and
index them as:
Mon Tue Wed T

In [20]:
import pandas
import numpy as npy
precipitation_data = npy.array([12,14,7,0,3,21,10])
df = pandas.Series( data = precipitation_data, index = ['Mon','Tue','Wed','Thur','Fri','Sat','Sun'])
print(df)

Mon     12
Tue     14
Wed      7
Thur     0
Fri      3
Sat     21
Sun     10
dtype: int64

In [ ]:
Create a Pandas Series with the given data
10 45 60 12 40
and perform the following tasks:
• index them from fA' to fE'
• Change the rB' value to 65
• delete the fE' Value
• print the Series

In [21]:
import pandas
import numpy as npy
d = npy.array([10,45,60,12,40])
df = pandas.Series(data = d, index = ['fA','fB','fC','fD','fE'])
print(df)

fA    10
fB    45
fC    60
fD    12
fE    40
dtype: int64

In [22]:
df['fB'] = 65
print(df)

fA    10
fB    65
fC    60
fD    12
fE    40
dtype: int64

In [23]:
df.drop('fE')

fA    10
fB    65
fC    60
fD    12
dtype: int64

In [ ]:
Create a Pandas DataFrame with the given data
Subjects : Maths, Science, Literature, Comp.Sci.
Marks : 75,94,88,97
create appropriate columns and indexes then perform
the following tasks:
• index them from fl' to f4'
• add ‘'Physical Education' : 95 to the DataFrame
• change the value of Math's Marks to 81
• reindex the DataFrame with the subjects [Maths,
Sci,... ]
• delete the Subjects column
• print the DataFrame

In [10]:
import numpy as npy
import pandas

df1 = pandas.DataFrame( data = {'Subjects':['Maths','Science','Literature','CSE'],'Marks':[75,94,88,97]},index = [1,2,3,4])
print(df1)

     Subjects  Marks
1       Maths     75
2     Science     94
3  Literature     88
4         CSE     97

In [11]:
df1 =df1.append({'Subjects' : 'PhysEdu','Marks':95},ignore_index='True')
df1

     Subjects  Marks
0       Maths     75
1     Science     94
2  Literature     88
3         CSE     97
4     PhysEdu     95

In [12]:
df1.loc[3,['Marks'] ]= 70
df1

     Subjects  Marks
0       Maths     75
1     Science     94
2  Literature     88
3         CSE     70
4     PhysEdu     95

In [21]:
for index in df1.index:
    print(df1.loc[index,['Subjects']])

Subjects    Maths
Name: 0, dtype: object
Subjects    Science
Name: 1, dtype: object
Subjects    Literature
Name: 2, dtype: object
Subjects    CSE
Name: 3, dtype: object
Subjects    PhysEdu
Name: 4, dtype: object

In [33]:
import pandas

sub_dict = {'Subject':['Maths','CSE','Phy','English'],'Marks':[20,30,35,40],'Status':['F','P','P','P']}
sub_df = pandas.DataFrame(sub_dict)
print(sub_df)

   Subject  Marks Status
0    Maths     20      F
1      CSE     30      P
2      Phy     35      P
3  English     40      P

In [34]:
sub_df.loc[0].replace(to_replace='P',value='F')
print(sub_df)

   Subject  Marks Status
0    Maths     20      F
1      CSE     30      P
2      Phy     35      P
3  English     40      P

In [36]:
cond = sub_df['Status'] =='F'
sub_df.loc[cond,'Status'] = 'P'
sub_df

   Subject  Marks Status
0    Maths     20      P
1      CSE     30      P
2      Phy     35      P
3  English     40      P